.level-item img {
  max-height: 50px;
}
.top-menu {
  background-color: #333333 !important;
}
.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: top right;
  width: 100%;
  height: 100%;
}
.name, .wid-icon {
  color: #f5d975;
}
.card {
  height: 100%;
  display:flex;
  flex-direction: column;
}
.portfolio-image-image{
  object-fit: cover;
}
.hero-body {
  min-height: 35vw;
}
.mail-btn {
  background-color: transparent;
  border-color: #f5d975;
  color: #f5d975;
}
.mail-btn:hover {
  background-color: #f5d975;
}
.resume-btn {
  background-color:  #f5d975;
}

/* Mobile Only */
@media screen and (max-width: 1024px){
  html,  .title {
    font-size: 3vw;
  }
  .container {
    margin: auto;
  }
  .hero-body {
    min-height: 35vh;
  }
}
